@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Página pertencente ao Desenvolvedor de Software .NET Robson Liesner de Lima Junior</p>
<p>Contato: robsonlljr@gmail.com</p>
